[Unit]
Description=React-app

[Service]
ExecStart=/usr/bin/npm start 2>&1 > /usr/share/nginx/html/myfirstreactapp/npm.log
Restart=always
User=mike
Group=mike
#Environment=PATH=/usr/bin:/usr/local/bin
#Environment=NODE_ENV=production
WorkingDirectory=/usr/share/nginx/html/myfirstreactapp

[Install]
WantedBy=multi-user.target
